<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://download1501.mediafire.com/87k1kfyyjmegZUTF9_EVV-FooPA4Xilfx-OlO2YbFRBxRtrb-6kUSzeL8sSG8_fCkXG6lqkIeLtvZ8-L3QyODHVgDqjwTtzMb2R4sFIpQc75Gy8eCs2h54NsYBjkZvUaLPf-8w6DjkZLzDT_jLmqx90b0A6oCbqbYU01TE-VJf0bRw/tgbvv2p4jir29xd/TikTok+21.1.0.ipa</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict> 
                    <key>bundle-identifier</key>
                     <string>com.zhiliaoapp.musically</string>
                     <key>bundle-version</key>
                    <string>21.1.0</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>TikTok</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
